@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Poppins&family=Red+Hat+Display:ital,wght@0,500;0,700;1,900&display=swap');

:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-mp: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-sh: hsla(0, 0%, 100%, 0.6);
}

* {
   box-sizing:border-box;
   padding: 0px;
   margin: 0;
   list-style-type: none; 
}

body {
    background-color: var(--Very-dark-blue);
    font-family: Inter;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    
    
}

.wrapper {
    margin: auto;
    width: 1000px;
}

.container {
    margin: 2rem;
    background-color: var(--Dark-desaturated-blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: .75rem;
    overflow: hidden;
    
}

.left {
    padding: 12%;
    overflow: hidden;
}

.text p {
    margin-top: 1.5rem;
    color: var(--Slightly-transparent-white-mp);
    font-size: 14px;
    line-height: 1.75;
    margin-right: 3rem;
    
}

.statbox {
    display: flex;
    margin-top: 4rem;
    justify-content: space-between;
    margin-right: 3rem;
    
}

.statbox p.num {
    font-size: 22px;
    font-weight: bold;
    color: var(--White);
    
}

.statbox p {
    color: var(--Slightly-transparent-white-sh);
    text-transform: uppercase; 
    font-size: 12px;
    letter-spacing: 1px;

}

.image-container {
    position: relative;
}

.image-container::after {
    position: absolute;
    content: '';
    background-color: var(--Soft-violet);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
}   

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 375px) {
    
    .wrapper {
        margin: auto;
        
    }

    .container {
        grid-template-columns: 1fr;
        margin: 1rem;
        
        
    }

    .image-container {
        order: -1;
    }
    
    .left {
        padding: 2rem;
        text-align: center;
        
    }

    .text p {
        margin: 2rem 0;
    }

   .statbox {
       flex-direction: column;
       margin: 0px;
   }

   .statbox div {
        margin-top: 25px;
   }

   .statbox div p {
       margin-bottom: 10px;
   }
}




    
    
    
    
    

